:root {
    --primary: #ddd;
    --dark: #000000;
    --light: #fff;
    --shadow: 0 1px 5px rgba(0, 246, 246, 0.692);


}    

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);

}

body {
    background: #00ffff9d!important;
    margin: 30px 50px;
    line-height: 1.4;
}

.VB {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    text-transform: unset;
    box-shadow: var(--shadow);
    border: 0;
}

img {
    max-width: 100%;
}

.NT {
    display: grid;
    grid-gap: 20px;
}
.main-NY ul {
    display: grid;
    grid-gap: 20px;
    padding-top: 20px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr) ;
}

.main-NY a {
    background: var(--light);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: unset;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-NY a:hover {
    background: var(--dark);
    color: var(--light);
}

.Bi {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'TT TT TB-TD'
        'TT TT TB-TF';
}

.TT {
    grid-area: TT;
    min-height: 400px; 
    background: url(./img/photo-1486401899868-0e435ed85128.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.TT h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--shadow);
}
.TT p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--dark);
}

.TB-TD {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.TB-TF {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.TB-TD {
    font-size: 1.5rem;
}
.TB-TF {
    font-size: 1.5rem;
}


.TB-TD {
    grid-area: TB-TD;
}

.TB-TF {
    grid-area: TB-TF;
}

.Bu {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.TL {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.Ba {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

.BK {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;   
}

@media(max-width: 700px) {
    .top-container {
        grid-template-areas:
        'TT TT'
        'TB-TD '
        'TB-TF';
    }
    .TT h1 {
        font-size: 2.5rem;
    }

    .main-NY ul {
        grid-template-columns: 1fr;
    }

    .Ba  {
        grid-template-columns: 1fr;
    }

    .Ba .VN {
        display: block;
        text-align: center;
        margin: auto;
    }}

    @media (max-width: 500px) {
        .top-container {
            grid-template-areas:
            'TT TT'
            'TB-TD' 
            'TB-TF';
    }
        
    }
